
body{
    background-color:#878f99;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

#chat-box{
    background-color: #A52A2A;
    margin: 60px auto;
    padding: 0;
    border-radius: 7px;
}

#top-row{
    background-color: #2e3264;
    padding: 0;
    border-radius: 7px;
    margin-left: 0px;
    margin-right: 0px;


}

.profile-image{
    width: 50px;
    height: 50px;

    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 0px 30px 10px 30px;
    border-radius: 9px;
    position: relative;
    
  }
  
#Bar-elements{
    color: rgb(50, 197, 153);
    width: 50px;
    height: 50px;

    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}